# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a .spec file
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
nosetests.xml
test_*.xml
*.tox/
*.nox/
*.coverage
*.hypothesis/
*.pytest_cache/

# Pytest
.cache
*.log

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# Virtual environment
.venv/


# Environment variables
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Miscellaneous
*.orig
*.bak
*.tmp